* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    color: hsl(229, 31%, 21%);
}

/* ---------- NAVBAR ---------- */

nav {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navtwo ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.navtwo ul li a {
    text-decoration: none;
    color: hsl(229, 31%, 21%);
    font-weight: 500;
}

.loginbtn {
    background: hsl(0, 94%, 66%);
    border: none;
    color: white;
    padding: 10px 26px;
    border-radius: 6px;
    font-weight: 500;
}

/* ---------- HERO SECTION ---------- */

main {
    width: 100%;
    max-width: 1100px;
    margin: 80px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.heroleft {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.heroleft h1 {
    font-size: 48px;
    line-height: 1.2;
}

.leftbtns {
    display: flex;
    gap: 20px;
}

.leftbtns button:first-child {
    background: hsl(231, 69%, 60%);
    border: none;
    padding: 12px 22px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
}

.leftbtns button:last-child {
    background: hsl(0, 0%, 95%);
    border: none;
    padding: 12px 22px;
    color: hsl(229, 31%, 21%);
    border-radius: 5px;
    font-weight: 500;
}

.heroright {
    width: 55%;
    position: relative;
}

.heroright img {
    width: 80%;
    position: relative;
    z-index: 2;
}

/* background blue shape */
.herobg {
    position: absolute;
    top: 120px;
    right: -150px;
    width: 600px;
    height: 250px;
    background: hsl(231, 69%, 60%);
    border-bottom-left-radius: 180px;
    z-index: 1;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.featdescription {
    width: 32%;
    text-align: center;
}

.feature-nav {
    margin-top: 10px;
    width: 40%;
}

.feature-nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.feature-nav>ul>li>a {
    text-decoration: none;
}